# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Xcode & Swift Package Manager
build/
DerivedData/
.build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# IDEs & Editors
.vscode/
.idea/
